html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #d6d5d3;
    overflow-x: hidden;
}

h1 {
    text-align: center;
    margin-top: 10rem;
    font-size: 40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    animation: fadeInHeader 1.2s ease-in-out forwards;
}

h2 {
    text-align: center;
    margin-top: 60px;
    font-size: 40px;
    animation: fadeIn 1.8s ease-in-out forwards;
}

.artistBio {
    h3 {
    text-align: center;
    margin-top: 10rem;
    font-size: 40px;
    animation: fadeIn 1.8s ease-in-out forwards;
    }

    p {
        display: block;
        margin-left: 300px;
        margin-right: 300px;
        font-size: 18px;
        line-height: 2;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        animation: fadeIn 1.9s ease-in-out forwards;
    }
}

.CV {
    padding: 5rem;
    display: block;

    .info {
        font-size: 18px;
        text-align: center;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }

    .sectionOne {
        animation: fadeIn 1.9s ease-in-out forwards;
    }
    .sectionTwo {
        animation: fadeIn 2.2s ease-in-out forwards;
    }
    .sectionThree {
        animation: fadeIn 2.5s ease-in-out forwards;
    }
    .sectionFour {
        animation: fadeIn 2.8s ease-in-out forwards;
    }

    .list {
        margin: 3rem 15rem 3rem 18rem;
        font-size: 18px;
        line-height: 1.5;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }

    .subHeader {
        text-align: center;
        margin: 5rem 0rem 0rem 0rem;
        font-size: 24px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
}

@keyframes fadeInHeader {
  from {opacity: 0}
  to {opacity: 1}
  from {margin-top: 120px}
  to {margin-top: 150px}
}
@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
  from {margin-top: 10px}
  to {margin-top: 20px}
}