body {
  background-color: #d6d5d3;
}

a p {
    display: inline-block;
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    margin-left: 25px;
    margin-top: 0;
    color: rgb(109, 109, 109);
    padding: 10px;
    transition: font-size 0.3s ease;
}

a p:hover {
  font-size: 26px;
}

.title {
  position: absolute;
  left: 1rem;
  margin-top: 2rem;
  margin-left: 3rem;
  #oneLine {
    opacity: 0;
    margin-bottom: 1rem;
    font-size: 40px;
    animation: fadeIn 1.5s ease-in-out forwards;
  }
  #twoLine {
    opacity: 0;
    margin-top: 0;
    font-size: 40px;
    animation: fadeIn 1.9s ease-in-out forwards;
  }
  #date {
    opacity: 0;
    margin-top: 0;
    animation: fadeIn 2.1s ease-in-out forwards;
  }
  .aboutSection {
    opacity: 0;
    margin-top: 4rem;
    font-size: 24px;
    animation: fadeIn 2.2s ease-in-out forwards;

    #info {
      display: block;
      margin-right: 58rem;
      line-height: 2;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      font-size: 15px;
    }

    #para {
      display: block;
      margin-right: 58rem;
      margin-top: 3rem;
      line-height: 2;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      font-size: 18px;
      margin-bottom: 5rem;
    }
  }
}

img {
    max-width: 300vw;
    width: 65%;
    height: 50%;
    height: auto;
    display: block;
    float: right;
    margin-right: 4rem;
    margin-top: 15rem;
    filter: drop-shadow(5px 5px 10px #333);
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}