html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #d6d5d3;
}

.header {
    position: sticky;
    top: 0;
    z-index: -1;
    
    .title {
        position: absolute;
        display: block;
        z-index: 2;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    h1 {
        color: beige;
        margin-top: 15.5rem;
        margin-left: 10rem;
        margin-bottom: 0;
        font-size: 80px;
        opacity: 0;
        animation: fadeIn 1.5s ease-in-out forwards;
    }

    h2 {
        color: beige;
        margin-top: 0;
        margin-left: 10rem;
        font-size: 80px;
        opacity: 0;
        animation: fadeIn 2s ease-in-out forwards;
    }

     .squircle {
        position: absolute;
        z-index: 1;
        margin-top: 10rem;
        margin-left: 4rem;
        width: 26rem;
        height: 24rem;
        aspect-ratio: 1;
        border-radius: 50%;
        corner-shape: squircle;
        background: #181D20;
    }
}

.sectionAfter {
    background-color: #d6d5d3;
    display: grid;

    .section01 {
        .subHeader1 {
            position: absolute;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            margin-top: 3rem;
            margin-left: 4rem;
            padding: 2rem;
            text-align: left;
            font-size: 40px;
        }
    
        .squircle{
            display: block;
            float: right;
            margin-right: 4rem;
            margin-top: 4rem;
            padding: 2rem;
            width: 26rem;
            height: 24rem;
            aspect-ratio: 1;
            border-radius: 50%;
            corner-shape: squircle;
        }
    }

    .section02 {
        .subHeader2 {
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            margin-top: 2rem;
            padding: 2rem;
            text-align: center;
            color:#181D20;
            font-size: 40px;
            text-decoration: none;
        }
        img {
            display: block;
            margin: auto;
            padding: 2rem;
        }
    }
}

.fade-in {
    opacity: 0;
    transition: opacity 0.6s ease-in;
}
.fade-in.appear {
  opacity: 1;
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}


