html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #d6d5d3;
    overflow-x: hidden;
}

.header {
    position: sticky;
    top: 0;
    z-index: -1;

    img {
        max-width: 100%;
        height: auto;
    }
    .title {
        position: relative;
        text-align: center;
        width: 100%;
        z-index: 2;

        h1 {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            margin-top: 13rem;
            color: #1F1F1B;
            font-size: 80px;
            opacity: 0;
            animation: slideDown 1.5s ease-in-out forwards;
        }

        h2 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin-top: 21rem;
            color: #1F1F1B;
            font-size: 30px;
            opacity: 0;
            animation: slideDown 2s ease-in-out forwards;
        }
    }
    /*.squircle {
        position: absolute;
        z-index: 1;
        margin-top: 10rem;
        margin-left: 4rem;
        width: 26rem;
        height: 24rem;
        aspect-ratio: 1;
        border-radius: 50%;
        corner-shape: squircle;
        background: #181D20;
    }*/
}
    @keyframes slideDown {
        from {opacity: 0}
        to {opacity: 1}
        from {
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        to {
            top: 50%;
            left: 50%;
            transform: translate(-50%, 60%);
        }
    }
/*
.sectionAfter {
    background-color: #d6d5d3;
    .section01 {
        #spacer {
            padding: 5rem;
        }
        .section01img {
            display: grid;
            margin-top: -5rem;
            column-gap: 0.5rem;
            row-gap: 0.5rem;
            .subHeader1 {
                grid-column-start: 2;
                grid-column-end: 2;
                grid-row-start: 1;
                grid-row-end: 1;
                text-align: center;
                color: black;
                font-size: 50px;
                transition: 0.4s;
            }

            a {
                text-decoration: none;
            }
            .img1 {
                grid-column-start: 1;
                grid-column-end: 1;
                grid-row-start: 1;
                grid-row-end: 1;
            }

            .img3 {
                grid-column-start: 3;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 1;
            }
            .img4 {
                grid-column-start: 1;
                grid-column-end: 1;
                grid-row-start: 2;
                grid-row-end: 2;
            }
            .img5 {
                grid-column-start: 2;
                grid-column-end: 2;
                grid-row-start: 2;
                grid-row-end: 2;
            }
            .img6 {
                grid-column-start: 3;
                grid-column-end: 3;
                grid-row-start: 2;
                grid-row-end: 2;
            }
        }
        a:hover {
            font-size: 55px;
            color: rgb(61, 61, 56);
        }
    }

    .section02 {
        .subHeader2 {
            margin-top: 5rem;
            margin-bottom: -5rem;
            padding: 5rem;
            text-align: center;
            color: black;
            font-size: 50px;
            transition: 0.4s;
        }
        a {
            text-decoration: none;
        }
        img {
            display: block;
            margin: auto;
            margin-top: -5rem;
            padding: 5rem;
        }
        p:hover {
            font-size: 55px;
            color: rgb(61, 61, 56);
        }
    }
}
*/
.fade-in {
    opacity: 0;
    transition: opacity 0.6s ease-in;
}
.fade-in.appear {
  opacity: 1;
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}


