html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #d6d5d3;
    overflow-x: hidden;
}

.header {
    position: sticky;
    top: 0;
    z-index: -1;
    
    .title {
        position: relative;
        text-align: center;
        z-index: 2;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 18rem;
        color: #1F1F1B;
        font-size: 80px;
        opacity: 0;
        animation: fadeIn 1.5s ease-in-out forwards;
    }

    h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 23rem;
        color: #1F1F1B;
        font-size: 30px;
        opacity: 0;
        animation: fadeIn 2s ease-in-out forwards;
    }

    /*.squircle {
        position: absolute;
        z-index: 1;
        margin-top: 10rem;
        margin-left: 4rem;
        width: 26rem;
        height: 24rem;
        aspect-ratio: 1;
        border-radius: 50%;
        corner-shape: squircle;
        background: #181D20;
    }*/
}

.sectionAfter {
    background-color: #d6d5d3;
    .section01 {
        p {
            margin: 5rem 0rem 3rem 0rem;
            padding: 5rem;
            text-align: center;
            font-size: 50px;
        }
        .section01img {
            display: grid;
            margin-top: -5rem;
            column-gap: 0.5rem;
            row-gap: 0.5rem;
            .img1 {
                grid-column-start: 1;
                grid-column-end: 1;
                grid-row-start: 1;
                grid-row-end: 1;
            }
            .img2 {
                grid-column-start: 2;
                grid-column-end: 2;
                grid-row-start: 1;
                grid-row-end: 1;
            }
            .img3 {
                grid-column-start: 3;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 1;
            }
            .img4 {
                grid-column-start: 1;
                grid-column-end: 1;
                grid-row-start: 2;
                grid-row-end: 2;
            }
            .img5 {
                grid-column-start: 2;
                grid-column-end: 2;
                grid-row-start: 2;
                grid-row-end: 2;
            }
            .img6 {
                grid-column-start: 3;
                grid-column-end: 3;
                grid-row-start: 2;
                grid-row-end: 2;
            }
        }
        img:hover {
        transform: scale(1.05);
        transition: all 0.3s cubic-bezier(0.4, 0.05, 0.3, 1);
        }
    }

    .section02 {
        .subHeader2 {
            margin-top: 5rem;
            margin-bottom: -5rem;
            padding: 5rem;
            text-align: center;
            color: black;
            font-size: 50px;
        }
        a {
            text-decoration: none;
        }
        img {
            display: block;
            margin: auto;
            margin-top: -5rem;
            padding: 5rem;
        }
    }
}

.fade-in {
    opacity: 0;
    transition: opacity 0.6s ease-in;
}
.fade-in.appear {
  opacity: 1;
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}


