html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #d6d5d3;
}

.header {
    position: sticky;
    top: 0;
    z-index: -1;
    
    .title {
        position: absolute;
        display: block;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    h1 {
        text-align: left;
        color: beige;
        margin-top: 12rem;
        padding: 2rem;
        margin-bottom: 0;
        font-size: 80px;
        opacity: 0;
        animation: fadeIn 1.5s ease-in-out forwards;
    }

    h2 {
        text-align: left;
        color: beige;
        margin-top: 0;
        padding: 2rem;
        font-size: 34px;
        opacity: 0;
        animation: fadeIn 2s ease-in-out forwards;
    }
}

.section01 {
    background-color: #d6d5d3;
    .subheader {
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 2rem;
        padding: 2rem;
        text-align: center;
        font-size: 40px;
    }
    
    img {
        display: block;
        margin: auto;
        padding: 2rem;
        
    }
}

.fade-in {
    opacity: 0;
    transition: opacity 0.6s ease-in;
}
.fade-in.appear {
  opacity: 1;
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}


