.infoBar {
    bottom: 0;
    padding: 10px;
    background-color: #1F1F1B;
    .image {
        display: block;
        margin: 0 auto;
        margin-top: 1rem;
        width: 10%;

        #mail {
            filter: invert(100%);
        }

        a {
            text-decoration: none;
        }
    }
    img:hover {
        transform: scale(1.05);
        transition: all 0.3s cubic-bezier(0.4, 0.05, 0.3, 1);
    }
}