#navBar {
    overflow: hidden;
    
    padding: 20px 5px; /* Large padding which will shrink on scroll (using JS) */
    transition: 0.4s; /* Adds a transition effect when the padding is decreased */
    /* Sticky/fixed navbar */
    width: 100%;
    top: 0; /* At the top */
    z-index: 99;
    

    img {
        float: left;
        width: 5%;
        height: 5%;
        filter: invert(100%);
    }

    .leftFloat {
        float: left;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        padding: 1rem;
        margin-top: 0.5rem;
        margin-right: 2rem;
        font-size: 30px;
        text-decoration: none;
        color: #1F1F1B;
    }

    .rightFloat a {
        float: right;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        padding: 1rem;
        margin-top:1rem;
        margin-right: 2rem;
        font-size: 16px;
        transition: font-size 0.3s ease;
        text-decoration: none;
        color: #1F1F1B;
    }

    a:hover {
    font-size: 18px;
    color: rgb(61, 61, 56);
    }
}