.preloader {
    position: relative;
    z-index: 3;
    background-color: #d6d5d3;
    padding: 50rem;

    .title {
        position: absolute;
        top: 20%;
        left: 10%;
        z-index: 4;
        font-size: 50px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
}