body {
    margin: 0;
    background-color: #d6d5d3;
    overflow: hidden;
    overflow-y:hidden;
}

main {
    width:100%;
    height:700vh;
}
h1 {
    position: fixed;
    top: 15%;
    left: 10%;
    font-size: 50px;
    animation: fadeInHeader 1.2s ease-in-out forwards;
}

#sorry {
    position: fixed;
    top: 30%;
    left: 10%;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation: fadeInHeader 1.2s ease-in-out forwards;
}

.carousel {
  width:100vw;
  height:100vh;
  perspective:10rem;
  overflow:hidden;
  opacity:0;
}

.card {
  position:absolute;
  left:60%;
  top:30%;
  max-width:50%;
  max-height:80%;
  border-radius:10px;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:3rem;
  font-family:monospace;
  color:#fff;
}

.arrow {
  position:fixed;
  bottom:5vh;
  left:70%;
  height:8vh;
}

@keyframes fadeInHeader {
  from {opacity: 0}
  to {opacity: 1}
  from {margin-top: 120px}
  to {margin-top: 150px}
}

