html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #d6d5d3;
    overflow-x: hidden;
}
h1 {
    display: block;
    position: relative;
    text-align: center;
    margin-top: 10rem;
    font-size: 50px;
    animation: fadeInHeader 1.2s ease-in-out forwards;
}

#sorry {
    display: block;
    position: relative;
    text-align: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation: fadeInHeader 1.2s ease-in-out forwards;
}

.printImages {
    img {
        display: block;
        margin: auto;
        margin-bottom: 5rem;
        width: 50%;
        height: 50%;
    }

}
@keyframes fadeInHeader {
  from {opacity: 0}
  to {opacity: 1}
  from {margin-top: 120px}
  to {margin-top: 150px}
}

