#navBar {
    overflow: hidden;
    background-color:#1F1F1B;
    padding: 30px 10px; /* Large padding which will shrink on scroll (using JS) */
    transition: 0.4s; /* Adds a transition effect when the padding is decreased */
    position: fixed; /* Sticky/fixed navbar */
    width: 100%;
    top: 0; /* At the top */
    z-index: 99;

    a {
        float: left;
        padding: 14px;
        font-size: 20px;
        transition: font-size 0.3s ease;
        text-decoration: none;
        color: beige;
    }

    a:hover {
    font-size: 22px;
    background-color: #292924;
    }
}